.hidden  {
    display: none;
}

.panoramaexit {
	position: absolute;
    z-index: 100;
    right: 16px;
    top: 16px;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: url("../../Resources/Cursors/click.png"), auto;
}
.panoramaexit::after {
    background-image: url("../../Resources/Images/close.png");
	background-size: 32px 32px;
	display: inline-block;
	width: 32px; 
	height: 32px;
	content: "";
}
.panoramaexit:hover::after {
    background-image: url("../../Resources/Images/close_hover.png");
}